extends ../layout

block content
  p #[small.text-muted #[a(href='/dashboard') Dashboard]] #[small.text-muted #[a(href='/logout') Logout]]

  block dashboardcontent

  //- h4 more text

  //- block otherthings
