extends layout

block content
  h2 It worked!
  p returning in #[span#counter]

  script.
    window.addEventListener("DOMContentLoaded", function () {
      var counterStart = 3;

      (function forward(counter) {
        if (counter === 0) {
          window.location.href = '/';
          return;
        }

        document.getElementById('counter').innerText = counter;
        setTimeout(function() { forward(counter - 1)}, 1000);
      })(counterStart);
    });
